.home-feed {
    max-height: calc(100vh - 56px);
    overflow: auto;
    div[class^="react-stars-wrapper"] {
        display: inline-flex !important;
        vertical-align: middle;
        margin-right: 8px;
        & + span {
            line-height: 36px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .review-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navbar .react-autosuggest__container {
    display: inline-block;
}
